[package]
name = "rmesg"
version = "0.1.0"
authors = ["Archis Gore <archis@polyverse.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libc = "0.2.69"
cfg-if = "0.1.10"
